header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*================== resume ==================*/
.resume {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

/*================== header social ==================*/
.header_social {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position:absolute;
    left: 0;
    bottom: 3rem;
}